<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>skeletonmodule</name>
	<displayName><![CDATA[skeleton]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[DescriptionDescriptionDescriptionDescription]]></description>
	<author><![CDATA[TODO]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
